h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('fonts/fonts.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

header.mdl-layout__header{
    background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
  
}
