.mcard{
    /*margin:6px;*/
    /*left:20%;*/
    /*top:30%;*/
    /*margin:22%;*/
    /*width: 100%;*/
    /*padding:10px;*/
    /*height:100px;
    width:100px;*/
}
.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 15px;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.fx_margin
{
    margin:10px;
    font-size:30px
}

.status_title{
    font-size: 17px;
    color:#212f3d;
    font-weight:bold;
}

.status_count{
    font-size:27px;
    color:#6D4235;
}

.status_prct{
    font-size:34px;
    color:#432960;
    /*padding-left:30px;*/
}

.align_mid{
    width:80%;
    /*position: absolute;*/
     margin:auto;
  display:block;
    /*top: 50%;*/
}

span.ph_icons{
    font-size:27px;
}

.status_WARNING{
    color: #d35400 ;
}

.status_CRITICAL{
    color :#641e16 ;
    font-weight:bold;
}
.status_UNKNOWN{
    color :#34495e ;
}

.philips_sidenav_right{
    width:12%;
}

.philips_txt_uppercase{
    text-transform: uppercase;
    font-size: 27px;
}

.ack{
    left:10px;
    font-size:19px;
}

.phi_db_card_margin_tp{
    margin-left:10px;
    margin-top:17px;
}

.phi_db_card_margin{
    margin-top:15px;
}

.status_name{
    /*font-weight: bold;*/
}

.status_name_left{
    margin-left: 10px;
}

.mdl-layout__header {
    /*background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);*/
    min-height: 43px !important;
}

.mdl-layout__header-row { 
    /*background: -moz-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -webkit-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);
    background: linear-gradient(left, rgba(25,36,79,1) 24%,rgba(42,99,174,1) 100%);*/
    height: 40px !important;
}

div.mdl-list__item{
    padding:0px;
}

/*.app-sidenav {
  padding: 10px;
  min-width: 100px;
}*/