<div id="prods" class="grid-ruler mdl-grid container">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-layout__header mdl-layout__header-row" color="warm">
            <span class="mdl-layout-title">Product Stats</span>
        </div>
        <md-card  class="phi_db_card_margin_tp" *ngFor='let key of products | keys'>
            <md-card-subtitle class="fx_margin status_title">{{key.key}}</md-card-subtitle>
            <md-card-title></md-card-title>
            <md-card-content>
                <div class="demo-list-action mdl-list">
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons ph_icons">add_alert</i>
                            <span class="status_CRITICAL status_name status_name_left">CRITICAL</span>
                        </span>
                        <a class="mdl-list__item status_name" style="text-decoration:none;" href="#">{{key.value.critical}}</a>
                    </div>
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons ph_icons">error</i>
                            <span class="status_WARNING status_name status_name_left">WARNING</span>
                        </span>
                        <a class="mdl-list__item status_name" style="text-decoration:none;" href="#">{{key.value.warning}}</a>
                    </div>
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons ph_icons">warning</i>
                            <span class="status_UNKNOWN status_name status_name_left">UNKNOWN</span>
                        </span>
                        <a  class="mdl-list__item status_name" style="text-decoration:none;" href="#">{{key.value.unknown}}</a>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>