<meta http-equiv="refresh" content="300">
 <md-sidenav-layout class="app-sidenav">
     <md-sidenav #right mode="over" class="app-sidenav md-sidenav-bottom md-whiteframe-4dp philips_sidenav_right" align="end">
           <md-list dense>
                    <md-list-item> NYU00 </md-list-item>
                    <md-list-item> OPS25 </md-list-item>
                    <md-list-item> BCH00 </md-list-item>
                </md-list>
        </md-sidenav>
     <!--<md-sidenav-layout class="mdl-cell mdl-js-layout">-->
    <div class="grid-ruler mdl-grid container">
    
        <div class="mdl-cell mdl-cell--8-col mdl-grid">
            <div class="mdl-layout__header mdl-layout__header-row mdl-cell--12-col ">
                <span class="mdl-layout-title">Overall Stats</span>
            </div>
            <div class="mdl-cell mdl-cell--4-col" *ngFor="let service of services">
                <md-card class="phi_db_card_margin">
                    <md-card-title-group>
                        <!--fx_margin status_title-->
                        <md-card-title class="fx_margin status_title">
                            <span class="material-icons ph_icons">{{service.icon}}</span>
                            <span class='philips_txt_uppercase status_{{service.status}}'>{{service.status}}</span>
                            <span class="fx_margin status_count"> {{service.percent}}</span>
                        </md-card-title>
                        <md-card-subtitle class="fx_margin status_prct">
                            {{service.count}}
                        </md-card-subtitle>
                    </md-card-title-group>
                    <md-card-actions>
                        <button (click)="right.toggle()"  md-raised-button md-tooltip="Click to see graph">Trend</button>
                        <button md-raised-button md-tooltip="Click to see graph">Detail View</button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        
        <div  class="mdl-cell mdl-cell--2-col mdl-grid" *ngFor="let service of host_status">
            <div class="mdl-layout__header mdl-layout__header-row" color="warm">
                <span class="mdl-layout-title">{{service.status}}</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col" >
                <md-card class="phi_db_card_margin">
                    <md-card-title-group>
                        <!--fx_margin status_title-->
                        <md-card-title class="fx_margin status_title">
                            <span class="material-icons computer">{{service.icon}}</span>
                            <!--<span>{{service.status}}</span>-->
                            <span>{{service.desc}}</span>
                            <!--<span class="fx_margin status_count"> {{service.percent}}</span>-->
                        </md-card-title>
                        <md-card-subtitle class="fx_margin status_prct">
                            {{service.count}}
                        </md-card-subtitle>
                    </md-card-title-group>
                    <md-card-actions>
                        <button (click)="toggle()" md-raised-button md-tooltip="Click to see graph">Trend</button>
                        <!--<button md-raised-button md-tooltip="Click to see graph">Detail View</button>-->
                    </md-card-actions>
                </md-card>
            </div>
        </div>          
    </div>
    <product-prod [products]="products"></product-prod>


<!--<md-sidenav class="md-sidenav-bottom md-whiteframe-4dp philips_sidenav_right" align="end" #right>
                <md-list dense>
                    <md-list-item> NYU00 </md-list-item>
                    <md-list-item> OPS25 </md-list-item>
                    <md-list-item> BCH00 </md-list-item>
                </md-list>
                <button md-raised-button (click)="right.close()" class="md-primary">Close</button>
            </md-sidenav>-->
            
</md-sidenav-layout>